<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-lg p-4" style="width: 400px;">
            <h2 class="text-center mb-4">ログイン</h2>
<!--			変更開始-->
<!--            <form th:action="@{/login}" method="post">-->
			<form th:action="@{/login}" th:object="${loginForm}" method="post">
<!--				変更終了-->
                <div class="form-group">
                    <label for="username">ユーザー名</label>
                    <input type="username" id="username" name="username" class="form-control" placeholder="ユーザー名" required>
<!--					<input type="text" id="username" th:field="*{username}" class="form-control" placeholder="ユーザー名">-->
<!--					変更開始-->
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
<!--					変更終了-->
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="パスワード" required>
<!--					変更開始-->
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
<!--					変更終了-->
                </div>
<!--				変更開始-->
				<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
				        <span th:text="${errorMessage}"></span>
				</div>
<!--				変更終了-->
                <button type="submit" class="btn btn-primary btn-block">ログイン</button>
            </form>
            <div class="text-center mt-3">
                アカウントをお持ちでないですか？ <a href="/signup">サインアップ</a>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
